:root {
    --bg-color: #282c34;
    --text-color: #e1e4e8;
    --accent-color: #8cd2d5;
    --accent-hover: #a9dde0;

    --max-width: 900px;

    --font-main: "Noto Sans", sans-serif;
}

/* Global Reset & Body */
body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.6;
    margin: 0 auto;
    max-width: var(--max-width);
    padding: 2rem 1rem;
    -webkit-font-smoothing: antialiased;
}

header > div[hx-get] {
    position: absolute;
    top: 0;
    right: 0;
    min-height: 2rem;
    min-width: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header > div[hx-get]:not(.htmx-added) {
    visibility: hidden;
}

/*Profile*/
.profile-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    padding-top: 2rem;
}

.lang-switcher {
    position: absolute;
    top: 0;
    right: 0;
    font-family: var(--font-code);
    font-size: 0.9rem;
}

.profile-pic {
    width: 200px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
}

@media (min-width: 48em) {
    .profile-header {
        flex-direction: row;
        text-align: left;
        padding-top: 0;
    }
    .lang-switcher {
        top: 0;
        right: 0;
    }
}

/* Skills*/
.skills-list dt {
    font-weight: bold;
    margin-top: 1.2rem;
}

.skills-list dd {
    line-height: 1.6;
    margin-left: 0;
}

/*Text Styles*/
h2 {
    font-weight: 600;
    letter-spacing: -0.02em;
    margin-top: 2rem;
}

a {
    color: var(--accent-color);
    text-decoration: none;
    display: inline-block;
    transition: color 0.2s ease;
    font-weight: 500;
}

a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--accent-hover);
    transition: width 0.3s;
}

a:hover::after {
    width: 100%;
}

hr {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: 2rem 0;
}

footer {
    font-size: 0.85rem;
    margin: 2rem auto;
    text-align: center;
}
