a {
    color: #8cd2d5;
    position: relative;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: #a9dde0;
    outline: 0;
}

a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #a9dde0;
    transition: width 0.2s ease-in-out;
}

a:hover::after {
    width: 100%;
}

body {
    background: #282c34;
    color: #e1e4e8;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 100%;

    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

@media (min-width: 80em) {
    body {
        max-width: 1280px;
    }
}

@media (max-width: 50em) {
    body {
        font-size: 1.2rem;
    }
}

@media (min-width: 50.00625em) and (max-width: 80em) {
    body {
        font-size: 1.8rem;
    }
}

.archive {
    margin-top: 1em;
    margin-bottom: 2em;
}

@media (min-width: 64em) {
    .archive {
        width: calc(100% - 200px);
        padding-left: 100px;
    }
}

@media (min-width: 80em) {
    .archive {
        width: calc(100% - 300px);
        padding-left: 150px;
    }
}

img {
    border-radius: 50%;
    margin-right: 2em;
    width: 300px;
    height: 300px;
}

@media (min-width: 64em) {
    img {
        width: 200px;
        height: 200px;
    }
}

p {
    margin: 8px 0;
}
